<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WordManager</display-name>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserStatusServlet</servlet-name>
    <servlet-class>servlets.UpdateUserStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserStatusServlet</servlet-name>
    <url-pattern>/UpdateUserStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>servlets.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Test2</servlet-name>
    <servlet-class>servlets.Test2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test2</servlet-name>
    <url-pattern>/Test2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExtensionSaveWordServlet</servlet-name>
    <servlet-class>servlets.ExtensionSaveWordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExtensionSaveWordServlet</servlet-name>
    <url-pattern>/ExtensionSaveWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExtensionLoginServlet</servlet-name>
    <servlet-class>servlets.ExtensionLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExtensionLoginServlet</servlet-name>
    <url-pattern>/ExtensionLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetWordsInitServlet</servlet-name>
    <servlet-class>servlets.GetWordsInitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetWordsInitServlet</servlet-name>
    <url-pattern>/GetWordsInit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetWordsByStepServlet</servlet-name>
    <servlet-class>servlets.GetWordsByStepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetWordsByStepServlet</servlet-name>
    <url-pattern>/GetWordsByStep</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetWordsByDateServlet</servlet-name>
    <servlet-class>servlets.GetWordsByDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetWordsByDateServlet</servlet-name>
    <url-pattern>/GetWordsByDate</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AddWordClickServlet</servlet-name>
    <servlet-class>servlets.AddWordClickServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddWordClickServlet</servlet-name>
    <url-pattern>/AddWordClick</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteWordServlet</servlet-name>
    <servlet-class>servlets.DeleteWordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteWordServlet</servlet-name>
    <url-pattern>/DeleteWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditWordServlet</servlet-name>
    <servlet-class>servlets.EditWordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditWordServlet</servlet-name>
    <url-pattern>/EditWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateGlossaryServlet</servlet-name>
    <servlet-class>servlets.CreateGlossaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateGlossaryServlet</servlet-name>
    <url-pattern>/CreateGlossary</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertWordToGlossaryServlet</servlet-name>
    <servlet-class>servlets.InsertWordToGlossaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertWordToGlossaryServlet</servlet-name>
    <url-pattern>/InsertWordToGlossary</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllGlossaryNameServlet</servlet-name>
    <servlet-class>servlets.GetAllGlossaryNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllGlossaryNameServlet</servlet-name>
    <url-pattern>/GetAllGlossaryName</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetInitGlossaryDataServlet</servlet-name>
    <servlet-class>servlets.GetInitGlossaryDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInitGlossaryDataServlet</servlet-name>
    <url-pattern>/GetInitGlossaryData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RememberAndForgetServlet</servlet-name>
    <servlet-class>servlets.RememberAndForgetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RememberAndForgetServlet</servlet-name>
    <url-pattern>/RememberAndForget</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteGlossaryServlet</servlet-name>
    <servlet-class>servlets.DeleteGlossaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGlossaryServlet</servlet-name>
    <url-pattern>/DeleteGlossary</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>